.tasks {
  display: flex;
  justify-content: space-between;
  align-items: Inside;
  margin-left: 19rem;
  margin-right: 19rem;
  margin-top: 0.75rem;
  background: var(--gray-500);
  padding: 1rem;
  border: null;
  border-radius: 8px;
}

.tasks button {

  width: 1.2rem;
  height: 1.2rem;
  color: transparent;
  border: 2px solid var(--blue-600);
  border-radius: 999px;
  background: transparent;
}

.tasks span {
  margin-left: 12px;
  width: 500px;
  font-size: 14px;
  font-height: 19.6px;
  color: var(--gray-100);
  line-height: 1.6;
  align-items: left;
}
.tasks button:hover {
  border: 2px solid var(--blue-300);
}

